@page "/BrandCreate"
@attribute [Authorize(Roles = "Administrator")]

<h3>BrandCreate</h3>

<EditForm Model="@_brandVMclient" OnValidSubmit="SubmidBrandCreate">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" HelperText="Max. 8 characters"
                                  @bind-Value="_brandVMclient.Name" For="@(() => _brandVMclient.Name)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>