@page "/CategoryCreate"
<h3>CategoryCreate</h3>

<EditForm Model="@_CategoryVM" OnValidSubmit="SubmidBrandCreate">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" HelperText="Max. 8 characters"
                                  @bind-Value="_CategoryVM.Name" For="@(() => _CategoryVM.Name)" />
                    <MudTextField Label="SeoTitle" Class="mt-3"
                                  @bind-Value="_CategoryVM.SeoTitle" For="@(() => _CategoryVM.SeoTitle)" />
                    <MudTextField Label="Status" Class="mt-3"
                                  @bind-Value="_CategoryVM.Status" For="@(() => _CategoryVM.Status)" />

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>