@page "/CategoryUpdate/{id:guid}"
<h3>CategoryUpdate</h3>
@attribute [Authorize(Roles = "Administrator")]
<EditForm Model="_categoryVM" OnValidSubmit="SubmitCategoryUpdate">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" HelperText="Max. 8 characters"
                                  @bind-Value="_categoryVM.Name" For="@(() => _categoryVM.Name)" />
                    <MudTextField Label="SeoTitle" Class="mt-3"
                                  @bind-Value="_categoryVM.SeoTitle" For="@(() => _categoryVM.SeoTitle)" />
                    <MudTextField Label="Status" Class="mt-3"
                                  @bind-Value="_categoryVM.Status" For="@(() => _categoryVM.Status)" />

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>